.container(@padding-sm: 10px) {
  margin: 0 auto;
  max-width: @screen-md-max;
  .lg({
    max-width: @screen-sm-max;
  });
  .sm ({
    padding: @padding-sm;
  })
}

.btn {
  padding: 5px 10px;
  min-height: 40px;
  cursor: pointer;
  border: none;
  background: @primary-text-color;
  color: @secondary-text-color;
  text-transform: lowercase;
  box-shadow: 2px 2px 2px @shadow-color;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: @font-family;
}

.btn-status(@active: false) {
  .btn();
  margin: 5px;
  min-height: 35px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: none;
  font-size: small;
  font-weight: 700;
  border: 2px solid @secondary-text-color;
  transition: all .5s;
  background: transparent;
  color: @secondary-text-color;

  & when (@active) {
    background: @secondary-text-color;
    color: @secondary-color;
  }
}

.transaction-grid {
  display: grid;
  grid-template-columns: 1fr 2fr .8fr 1.2fr;
  column-gap: 20px;
  padding: 15px;
}

.background-gradient {
  background-image: linear-gradient(90deg, @color-alto 0px, @color-mercury 40px, @color-alto 80px);
  background-size: 600px;
}

.line-loading {
  .background-gradient();
  max-height: 18px;
  color: transparent;
  border-radius: 10px;
  animation: shine-lines 1.8s infinite linear;
}

.ripple(@main-color) {
  background-position: center;
  transition: background .8s;

  &:hover {
    background: @main-color
      radial-gradient(circle, transparent 1%, @main-color 1%) center/15000%;
  }

  &:active {
    background-color: fade(@main-color, 70%);
    background-size: 100%;
    transition: background 0s;
  }
}
