@import (css) url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700');
@import "variables";

body {
  min-height: 100vh;
  background-color: #eee;
  font-family: @font-family, sans-serif;
}
